<%= form_with model: task, local: true do |form| %>

  <% if task.errors.any? %>
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>


  <div class="form-group">
    <label for="title"><%= t("activerecord.attributes.task.title")%></label>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="description"><%= t("activerecord.attributes.task.description")%></label>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="start_time"><%= t("activerecord.attributes.task.start_time")%></label>
    <%= form.datetime_field :start_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="end_time"><%= t("activerecord.attributes.task.end_time")%></label>
    <%= form.datetime_field :end_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="priority"><%= t("activerecord.attributes.task.priority")%></label>
    <%= form.select :priority, options_for_select([
      [t(Task.priorities.keys[0], scope: :Task_Priority), Task.priorities.keys[0]],
      [t(Task.priorities.keys[1], scope: :Task_Priority), Task.priorities.keys[1]],
      [t(Task.priorities.keys[2], scope: :Task_Priority), Task.priorities.keys[2]]
      ], form.object.priority || :low), required: true, class: 'form-control'%>
  </div>

  <div class="form-group">
    <label for="status"><%= t("activerecord.attributes.task.title")%></label>
    <%= form.select :status, options_for_select([
      [t(Task.statuses.keys[0], scope: :Task_status), Task.statuses.keys[0]],
      [t(Task.statuses.keys[1], scope: :Task_status), Task.statuses.keys[1]],
      [t(Task.statuses.keys[2], scope: :Task_status), Task.statuses.keys[2]]
      ], form.object.status || :to_do), required: true, class: 'form-control'%>
  </div>

  <%= form.submit t("submit"), class: "btn btn-info" %>
<% end %>