<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">任務名稱</th>
      <th scope="col">內容</th>
      <th scope="col">開始時間</th>
      <th scope="col">結束時間</th>
      <th scope="col">優先順序</th>
      <th scope="col">狀態</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <th scope="row"></th>
        <td><%= link_to task.title, task_path(task) %></td>
        <td><%= task.description %></td>
        <td><%= task.start_time %></td>
        <td><%= task.end_time %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "新增任務", new_task_path, class: "btn btn-info" %>