<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t("activerecord.attributes.task.title")%></th>
      <th scope="col"><%= @task.title %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= t("activerecord.attributes.task.description")%></th>
      <td><%= @task.description %></td>
    </tr>
    <tr>
      <th scope="row"><%= t("activerecord.attributes.task.start_time")%></th>
      <td><%= @task.start_time %></td>
    </tr>
    <tr>
      <th scope="row"><%= t("activerecord.attributes.task.end_time")%></th>
      <td><%= @task.end_time %></td>
    </tr>
    <tr>
      <th scope="row"><%= t("activerecord.attributes.task.priority")%></th>
      <td><%= @task.priority %></td>
    </tr>
    <tr>
      <th scope="row"><%= t("activerecord.attributes.task.title")%></th>
      <td><%= @task.status %></td>
    </tr>
  </tbody>
</table>

<%= link_to t("Task.edit"), edit_task_path(@task), class: "btn btn-warning" %>
<%= link_to t("Task.delete"), task_path(@task), method: 'delete', data: {confirm: t("Task.delete_confirm") }, class: "btn btn-secondary" %>